@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@utility container {
  margin-inline: auto;
}

@theme {
  /* ---Fonts */
  --font-inter: "Inter", sans-serif;

  /* ---Colors */
  --color-theme: #f9c06a;
  --color-cofee: #603809;
  --color-text-black: #1e1e1e;
  --color-secoundary-text: #707070;
  --color-pink-bg: #fef9f1;
}
